// custom.scss

// Importa las variables de Bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Sobrescribe los colores
$primary: #0C9F0F;
$secondary: #2ecc71;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;

.btn-primary {
  background-color: $primary !important; 
  border-color: $primary !important;
}

a {
  color: $primary !important;
  text-decoration: none !important;
}

.main-header-backoffice {
  top: 0 !important;
  border-bottom: 1px solid #e3e6f0 !important;
  // position: inherit !important;
}

.navegacion_project {
  background-color: white;
  margin-top: 82px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

.nav-item {
  .nav-link {
    padding: 2rem;
    background-color: white !important;
    color: $dark !important;
    font-weight: bolder !important;
    border-radius: 0px;
    border:none;

    &:focus{
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .active {
    border-bottom: 4px solid $primary;
  }
}

#avatar-dropdown {
  text-decoration: none;
  &::after {
    display: none;
  }
}

.main-header-item-back {
  padding: 1rem 0;
}

.background-gray {
  background-color: #f8f9fa;
}

.bg-white {
  background-color: white !important
}

.btn-outline-primary {
  color: $primary !important;
  border-color: $primary !important;

  &:hover {
    color: white !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
}
// Importa el resto de Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
